<!-- FOOTER IMPORTADO -->
<footer class="background-negro" id="main-footer">
    <!-- CONTENEDOR FOOTER -->
    <div class="container-md p-5">

        <!-- ROW 1 -->
        <div class="footer-row1">
            <!-- LICENCIAS-GAMESCRIPT -->
            <div>
                <img class="licencia" src="/public/img/Licencias/GS.png" alt="Pegui3" />
            </div>

            <!-- LICENCIA-GAMESCRIPT -->
            <div>
                <img class="licencia" src="/public/img/Licencias/Pegi3.jpg" alt="Pegui3" />
            </div>

            <!-- LICENCIA-GAMESCRIPT -->
            <div>
                <img class="licencia" src="/public/img/Licencias/uocx.jpg" alt="Pegui3" />
            </div>
        </div> <!-- /ROW 1 -->

        <!-- SUBTITULO -->
        <div class="container-fluid">
            <h3 class="footer-row2" style="font-weight: bold;">
                ENLACES DE INTERES
            </h3>

        </div> <!-- SUBTITULO -->

        <!-- ENLACES -->
        <div class="row footer-row3">
            <div class="col-sm row3-enlace"><a href="#">P9 (GitHub)</a></div>
            <div class="col-sm row3-enlace"><a href="#">Google Site de Julio</a></div>
            <div class="col-sm row3-enlace"><a href="#">Google Site de Kevin</a></div>
            <div class="col-sm row3-enlace"><a href="#">Google Site de Sergio</a></div>
            <div class="col-sm row3-enlace"><a href="#">Google Site de Manuel</a></div>
        </div>
    </div> <!-- ENLACES -->
</footer><!-- /FOOTER IMPORTADO -->