<head>
    <link rel="stylesheet" href="/public/css/4_contact.css">
</head>

<!-- MAIN -->
<main class="background-main">
    <!-- MAIN FILA 1 -->
    <div class="row align-items-center fila_1">
        <!-- CONTENEDOR AUTORES -->
        <div class="col-sm autores">
            <div class="contenedor-autores">
                <!-- AUTOR SERGIO -->
                <div class="contTitulo"><h1 class="titulo">AUTORES:</h1></div>
                <div class="content autor contenedor_4">
                    <img src="/public/img/Fotos_Perfil/Perfil_Sergio.jpg" 
                    alt="sergio" width="160px" height="160px">
                    <div>
                        <h3 class="subtitulo">Sergio Puchades</h3>
                        <p>Formado como técnico de construcción y delineación en el centro Salvador Gadea y en 
                            la Ciutat de l´aprenent. Formador ocupacional por mediación del Servef. Actualmente 
                            estudiando CFGS de Desarrollo de aplicaciones web.
                        </p>
                        <ul>
                            <li><a href="https://sites.google.com/d/1tbkU88kgaN5sf8DgXagAU2MaEW471sOB/p/1bcJdNI1M9gzdhr4fPYkaa_GuBzPV6AG9/edit/">Sites del creador</a></li>
                            <li>Correo: <i>spuchadesm@uoc.edu</i></li>
                        </ul>
                    </div>
                </div>
                <!-- AUTOR KEVIN -->
                <div class="content autor contenedor_4">
                    <img src="https://thumbs.dreamstime.com/z/garnished-gothic-style-font-letter-k-english-alphabets-monochrome-38517707.jpg" 
                    alt="sergio" width="160px" height="160px">
                    <div>
                        <h3 class="subtitulo">Kevin Pascual</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo minima, distinctio quis ullam fugit fugiat earum provident voluptates aspernatur repudiandae expedita dolore dolorem odio nisi accusamus temporibus recusandae cum totam!
                        </p>
                        <ul>
                            <li><a href="https://sites.google.com/d/1tbkU88kgaN5sf8DgXagAU2MaEW471sOB/p/1bcJdNI1M9gzdhr4fPYkaa_GuBzPV6AG9/edit/">Sites del creador</a></li>
                            <li>Correo: <i>Visit W3Schools.com!</i></li>
                        </ul>
                    </div>
                </div>
                <!-- AUTOR MANUEL -->
                <div class="content autor contenedor_4">
                    <img src="/public/img/Fotos_Perfil/Perfil_Manuel.jpg" 
                    alt="sergio" width="160px" height="160px">
                    <div>
                        <h3 class="subtitulo">Manuel Garcia</h3>
                        <p>Poseo el grado en Geografía y Gestión del Territorio en la Universidad de Sevilla y 
                            el Máster en Sistemas de Información Geográfica en la misma Universidad. Actualmente, 
                            para tener una buena base y desempeñar bien mi trabajo, estoy cursando el CFGS en 
                            Desarrollo de Aplicaciones Web en la Universidad Oberta de Cataluña, y trabajo como 
                            Desarrollador/Analista GIS en la empresa Nokia.
                        </p>
                        <ul>
                            <li><a href="https://sites.google.com/d/1tbkU88kgaN5sf8DgXagAU2MaEW471sOB/p/1n5qRV38l0S5ELZzkVWL1Pu6Plw1BF3cR/edit">Sites del creador</a></li>
                            <li>Correo: <i>myerbes@uoc.edu</i></li>
                        </ul>
                    </div>
                </div>
                <!-- AUTOR JULIO -->
                <div class="content autor contenedor_4">
                    <img src="/public/img/Fotos_Perfil/Perfil_Julio.jpg" 
                    alt="sergio" width="160px" height="160px">
                    <div>
                        <h3 class="subtitulo">Julio César Asto</h3>
                        <p>Entrenador personal y  Rehabilitador deportivo. Estudié el Grado Superior de 
                            Actividades Física y Deportivas en el instituto de Vall d'Ebron en 2017. 
                            Más tarde hice dos especialidades en "Rehabilitación física y deportiva" y 
                            "Entrenamiento personal". Actualmente me encuentro estudiando el G.S. de Desarrollo 
                            de Aplicaciones Web.
                        </p>
                        <ul>
                            <li><a href="https://sites.google.com/d/1tbkU88kgaN5sf8DgXagAU2MaEW471sOB/p/1wQ3UGR_RPGqA_V0dgi5Y348uIIJRoNKJ/edit">Sites del creador</a></li>
                            <li>Correo: <i>jasto@uoc.edu</i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENEDOR CONTACTO -->
        <div class="col-sm contContacto">
            <form class = "contContacto-fomulario contenedor_4">
                <p class = "titulo">ENVIANOS TU CONSULTA</p>
                <div class="row">
                    <div class="col-sm">
                        <label for="exampleFormControlInput1">Nombres</label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col-sm">
                        <label for="exampleFormControlInput1">Apellidos</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                    </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Escriba aquí su texto</label>
                    <textarea class="form-control formulario-textBox" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="contContacto-fomulario-submit">
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
            </form> <!-- .contContacto-fomulario -->
        </div> <!-- .contContacto -->
    </div>

    <!-- MAIN FILA 2 -->
    <!-- CONTENEDOR FORO -->
    <div class="contenedor_1 contForo">
        <!-- PUBLICACIONES -->
        <div class="container my-custom-scrollbar contenedor-tarjetas">
            <div class="tarjetas">
                <!-- PUBLICACION_1 -->
                <div class="container tarjetas-tarjeta contenedor_3">
                    <!-- PUBLICACION_Imagen -->
                    <div>       
                        <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="80px" alt="User" /></a>
                    </div>
                    <!-- PUBLICACION_Texto -->     
                    <div>
                        <h6 class="subtitulo">Está web es una mierda</h6>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi ratione tempore labore quasi culpa quia, accusamus cum quidem animi, debitis ipsa omnis non placeat, dignissimos doloribus eius neque repellendus provident!
                        </p>
                        <p class="text-muted"><a href="javascript:void(0)">drewdan</a> <span class="parrafo_2">13 minutes ago</span></p>
                    </div>
                </div>
                <!-- PUBLICACION_2 -->
                <div class="container tarjetas-tarjeta contenedor_3">
                    <!-- PUBLICACION_Imagen -->
                    <div>
                        <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="mr-3 rounded-circle" width="80px" alt="User" /></a>
                    </div>
                    <!-- PUBLICACION_Texto -->   
                    <div>
                        <h6 class="subtitulo">Laravel 7 database backup</h6>
                        <p>
                            lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                        </p>
                        <p class="text-muted"><a href="javascript:void(0)">jlrdw</a> <span class="parrafo_2">3 hours ago</span></p>
                    </div>
                </div>

                <!-- PUBLICACION_3 -->
                <div class="container tarjetas-tarjeta contenedor_3">
                    <!-- PUBLICACION_Imagen -->
                    <div>
                        <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="mr-3 rounded-circle" width="80px" alt="User" /></a>
                    </div>
                    <!-- PUBLICACION_Texto -->   
                    <div>
                        <h6 class="subtitulo">Http client post raw content</h6>
                        <p>
                            lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                        </p>
                        <p class="text-muted"><a href="javascript:void(0)">ciungulete</a> <span class="parrafo_2">7 hours ago</span></p>
                    </div>
                </div>

                <!-- PUBLICACION_4 -->
                <div class="container tarjetas-tarjeta contenedor_3">
                    <!-- PUBLICACION_Imagen -->
                    <div>
                        <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="mr-3 rounded-circle" width="80px" alt="User" /></a>
                    </div>
                    <!-- PUBLICACION_Texto --> 
                    <div>
                        <h6 class="subtitulo">Top rated filter not working</h6>
                        <p>
                            lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                        </p>
                        <p class="text-muted"><a href="javascript:void(0)">bugsysha</a> <span class="parrafo_2">11 hours ago</span></p>
                    </div>
                </div>

                <!-- PUBLICACION_5 -->
                <div class="container tarjetas-tarjeta contenedor_3">
                    <!-- PUBLICACION_Imagen -->
                    <div>
                        <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="mr-3 rounded-circle" width="80px" alt="User" /></a>
                    </div>
                    <!-- PUBLICACION_Texto --> 
                    <div>
                        <h6 class="subtitulo">Create a delimiter field</h6>
                        <p>
                            lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                        </p>
                        <p class="text-muted"><a href="javascript:void(0)">jackalds</a> <span class="parrafo_2">12 hours ago</span></p>
                    </div>
                </div>
            </div>

            <!-- Forum List -->
            <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                <li class="page-item disabled">
                    <span class="page-link has-icon"><i class="material-icons">chevron_left</i></span>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item active"><span class="page-link">2</span></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item">
                    <a class="page-link has-icon" href="javascript:void(0)"><i class="material-icons">chevron_right</i></a>
                </li>
            </ul>
        </div><!-- /Forum List -->
    </div>
</main> <!-- /MAIN -->

<!-- SCRIPTS -->
    <!-- JQUERY.JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>